body {
    background-image: linear-gradient(to right, black, rgb(67, 67, 67));
    color: white;
    background-size: cover;
    margin: 0;
    padding: 0;
}
#gameField{
   margin-top: 20%;

   border-radius: 2px;
   border-color: aliceblue;   
   margin-top: 300px;

}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}


.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
  }

.glow {
    &:before,
    &:after {
      height: 6px;
      -webkit-filter: blur(5px);
      border-radius: 5px;
    }
    
    &:before {
      background: linear-gradient(to right, gold, grey);
    }
    
    &:after {
      background: linear-gradient(to left, gold, grey);
    }
  }

@media screen and (max-height: 800px) {
    #gameField{
        margin-top: 35%;
    }
}
@media screen and (max-height: 700px) {
    #gameField{
        margin-top: 40%;
    }
    
}
@media screen and (max-height: 600px) {
    #gameField{
        margin-top: 50%;
    }
}
@media screen and (max-height: 500px) {
    #gameField{
        margin-top: 60%;
    }
}

